<ion-view view-title="Login" hide-nav-bar="true" class="full-page-bckg">
    <ion-content has-bouncing="false">
        <form ng-submit="vm.doLogin()" class="invision-form">
            <div class="list list-inset">
                <div class="item logo-big">
                    <img src="img/logo.jpg" alt="logo" />
                </div>
                <label class="item item-input">
					<i class="icon ion-android-phone-portrait placeholder-icon"></i>
					<input type="text" placeholder="Mobile number">
				</label>
                <label class="item item-input">
					<i class="icon ion-lock-combination placeholder-icon"></i>
					<input type="password" placeholder="Password">
				</label>


                <label class="item form-button">
					<button class="button button-block button-primary" type="submit">Login</button> 
				</label>

                <!--<div class="row form-links">
                    <div class="col"><a data-ui-sref="app.register">Create Account</a></div>
                    <div class="col right-align"><a data-ui-sref="app.help">Need Help?</a></div>
                </div>-->
            </div>
        </form>
    </ion-content>
</ion-view>